name: Create PR

on:
  push:
    branches:
      - $default-branch
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: log
        run: date > update-log.txt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Automated update: $(date)"
          title: "Automated changes from GitHub Actions"
          body:      "${{github.actor}}"

