name: CD

on:
  push:
    branches:
      - $default-branch
  workflow_dispatch:
    inputs:
      deploy_to_artifactory:
        description: "Deploy"
        type: boolean
        default: false
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: log
        run: git log -n 100 --format='%s'

      - name: log2
        run: echo {{ github.event.inputs }}

      - name: Run CD scripts (STAGING)
        run: "echo staging"
        if: github.event.inputs.deploy_env != 'PRODUCTION'

      - name: Run CD scripts (PRODUCTION)
        run: echo "Hello from prod"
        if: github.event.inputs.deploy_env == 'PRODUCTION'
