name: CD

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy"
        type: boolean
        default: true
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3


      - name: log
        run: echo "${{ toJSON(inputs) }}"

      - name: Run CD scripts (PRODUCTION)
        run: echo "Hello from prod"
        if: ${{ inputs.deploy }}
