name: CD

on:
  push:
    branches:
      - $default-branch
  workflow_dispatch:
    inputs:
      deploy_env:
        description: "Environment to deploy"
        default: "PRODUCTION"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/checkout@v6
        with:
          repository: 'steliyan/js-relative-imports'
          path: './js'

      - name: log
        run: git log -n 100 --format='%s'

      - name: log2
        run: echo {{ github.event.inputs }}

      - name: Run CD scripts (STAGING)
        run: "echo staging"
        if: github.event.inputs.deploy_env != 'PRODUCTION'

      - name: Run CD scripts (PRODUCTION)
        run: echo "Hello from prod"
        if: github.event.inputs.deploy_env == 'PRODUCTION'
