name: Trigger

on:
  push:
    branches:
      - $default-branch
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Foo
        run: "echo do stuff"
