name: CD

on:
  push:
    branches:
      - $default-branch
  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy"
        type: boolean
        default: true
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3


      - name: log
        run: echo ${{ inputs }}

      - name: log
        run: echo ${{ inputs.deploy_to_artifactory }}

      - name: Run CD scripts (PRODUCTION)
        run: echo "Hello from prod"
        if: ${{ github.event.inputs.deploy_to_artifactory == 'true' }}
